<h2>マイページ</h2>
<div class="row">
  <div class="col-xs-7">
    <p class="col-sm-2">登録情報</p>
    <p class="col-sm-2">登録情報</p>
    <p class="col-sm-3">登録情報</p>
    
    <div class="field form-group col-xs-12">
      <div class="lavel col-sm-2 control-label"></div>
    </div>
  
  </div>
</div>
