<p>こんにちは<%= @resource.email %>さん</p>

<p>NaganoCakeアカウントのパスワード再設定のリクエストがありました。下記のリンクからパスワードを再設定できます。</p>

<p><%= link_to 'パスワード再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

