<div class="row">
  <%= render 'enduser/genres/genre_search', genres: @genres %>
  <div class="col-xs-9 main">
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-6 main-text">
          <p>ようこそ、NagnoCakeへ！<br>
             このサイトは、ケーキ販売のECサイトになります。<br>
             会員でない方も商品の閲覧はできますが、<br>
             購入には会員登録が必要になります。
          </p>
      </div>
      <div class="col-xs-4"></div>
    </div>
    <div class="row">
      <h2 class="text-left items-title">オススメ商品</h1>
      <!--ここは商品ができたときに差し替え-->
      <% (1..4).each do |i| %>
        <div class="col-xs-3 item-box">
            <div><%= image_tag 'no_image.jpg', :size =>'180x100' %></div>
            <div class="item-name-price">商品名</div>
            <div class="item-name-price">¥0,000</div>
        </div>
      <% end %>
      <!--ここまで-->
    </div>
    <div class="row text-right item-link"><%= link_to "もっと見る>", enduser_items_path %></div>
  </div>
</div>